@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


:root{
  --gap:2em;
  --gap2:4em;
  --boxwidth:calc(100vw - var(--gap));
  --boxheight:calc(100vh - var(--gap));
}

body {
  scroll-behavior: smooth;
  background-color: salmon;
}

h1{
  font-size: 6em;
  margin: 3em;;
}

.wrapper{
//  position: fixed;
  top:1em;
  left:1em;
  border: 4px solid purple;
  width: var(--boxwidth);
  height: var(--boxheight);
}

.item{
  border: 2px solid black;
  background-color: white;
}

.link{
  margin: 4em;
}
