

.grid{
  display: grid;
  grid-template-columns: repeat(6, var(--boxwidth));
  grid-template-rows: repeat(5, var(--boxheight));
	grid-gap: 0.5em;
	position:absolute;
	width: calc(6 * var(--boxwidth));
	height:  calc(5 * var(--boxheight));
	transition: transform 0.7s ease-in-out;

}

#p1:target ~ .grid{
	transform: translate3d(calc(-1 * var(--boxwidth)), 0, 0);
}
#p2:target ~ .grid{
	transform: translate3d(calc(-2 * var(--boxwidth)), 0, 0);
}
#p3:target ~ .grid{
	transform: translate3d(calc(-3 * var(--boxwidth)), 0, 0);
}
#p4:target ~ .grid{
	transform: translate3d(calc(-4 * var(--boxwidth) - var(--gap)), 0, 0);
}
#p5:target ~ .grid{
	transform: translate3d(calc(-5 * var(--boxwidth) - var(--gap)), 0, 0);
}
#p6:target ~ .grid{
	transform: translate3d(0, calc(-1 * var(--boxheight)), 0);
}
#p7:target ~ .grid{
	animation-name: anim7;
	animation-duration:3s;
	animation-fill-mode: forwards;
}
@keyframes anim7 {
50%{
		transform: translate3d( 0, calc(-1 * var(--boxheight)), 0);
	}
	100%{transform: translate3d(calc(-1 * var(--boxwidth)),calc(-1 * var(--boxheight)), 0);
	}
}

#p8:target ~ .grid{
	transform: translate3d(calc(-2 * var(--boxwidth)), calc(-1 * var(--boxheight)), 0);
}
#p9:target ~ .grid{
	transform: translate3d(calc(-3 * var(--boxwidth)), calc(-1 * var(--boxheight)), 0);
}
#p10:target ~ .grid{
	transform: translate3d(calc(-4 * var(--boxwidth)), calc(-1 * var(--boxheight)), 0);
}
#p11:target ~ .grid{
	transform: translate3d(calc(-5 * var(--boxwidth)), calc(-1 * var(--boxheight)), 0);
}
#p12:target ~ .grid{
	transform: translate3d(0, calc(-2 * var(--boxheight)), 0);
}
#p13:target ~ .grid{
	transform: translate3d(calc(-1 * var(--boxwidth)), calc(-2 * var(--boxheight)), 0);
}
#p14:target ~ .grid{
	transform: translate3d(calc(-2 * var(--boxwidth)), calc(-2 * var(--boxheight)), 0);
}
#p15:target ~ .grid{
	transform: translate3d(calc(-3 * var(--boxwidth)), calc(-2 * var(--boxheight)), 0);
}
#p16:target ~ .grid{
	transform: translate3d(calc(-4 * var(--boxwidth)), calc(-2 * var(--boxheight)), 0);
}
#p17:target ~ .grid{
	transform: translate3d(calc(-5 * var(--boxwidth)), calc(-2 * var(--boxheight)), 0);
}
#p18:target ~ .grid{
	transform: translate3d(0, calc(-3 * var(--boxheight)), 0);
}
#p19:target ~ .grid{
	transform: translate3d(calc(-1 * var(--boxwidth)), calc(-3 * var(--boxheight)), 0);
}
#p20:target ~ .grid{
	transform: translate3d(calc(-2 * var(--boxwidth)), calc(-3 * var(--boxheight)), 0);
}
#p21:target ~ .grid{
	transform: translate3d(calc(-3 * var(--boxwidth)), calc(-3 * var(--boxheight)), 0);
}
#p22:target ~ .grid{
	transform: translate3d(calc(-4 * var(--boxwidth)), calc(-3 * var(--boxheight)), 0);
}
#p23:target ~ .grid{
	transform: translate3d(calc(-5 * var(--boxwidth)), calc(-3 * var(--boxheight)), 0);
}
#p24:target ~ .grid{
	transform: translate3d(0, calc(-4 * var(--boxheight)), 0);
}
#p25:target ~ .grid{
	transform: translate3d(calc(-1 * var(--boxwidth)), calc(-4 * var(--boxheight)), 0);
}
#p26:target ~ .grid{
	transform: translate3d(calc(-2 * var(--boxwidth)), calc(-4 * var(--boxheight)), 0);
}

.proxy-anchor{
	opacity:0;
	position:absolute;
	z-index: -1;
}

.button {
	color: #666;
	transition: all 0.3s;
	position: relative;
  line-height: 50px;
height: 50px;
text-align: center;
width: 250px;
cursor: pointer;
}

a{
text-decoration: none;
font-family: 'Open Sans', sans-serif;
margin-left: 3em;
margin-top: 10px;}

.button a {
transition: all 0.3s;
}

.button::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #666;
	border-bottom-color: #666;
	transform: scale(0.1, 1);
}
.button:hover a {
	letter-spacing: 2px;
}
.button:hover::before {
	opacity: 1;
	transform: scale(1, 1);
}
.button::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.button:hover::after {
	opacity: 0;
	transform: scale(0.1, 1);
}
